

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


::selection {
    color: #fff;
    background: #f676b2; /* Safari */
}
::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a.olvideContraseña{
    margin-top: 80px;
    z-index: 0;
    font-size: 11px;
    color: #678889; 
}

body {
    background: url(../img/bg.png) repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
   
}

section {

    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -150px;
    margin-top: -200px;
}

form {
    width: 350px;
    margin: 0 auto;
    position: relative;
    z-index:5;
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
header {
    padding: 30px 30px 30px 30px;
    text-align: center;
}
h1 {
    
    height: 70px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    line-height:34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
    background: url(../img/logopw.png) no-repeat center;
    text-align: center;
}

p {
    font-size: 11px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);


}


input[type="submit"] { 

    font-family: Verdana, sans-serif;
    height: 40px;
    width: 6em;
    cursor: pointer;
    margin-left:70px;
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5 ;
    border-radius: 5px;
    box-shadow: 0 1px 1px #71C0FD inset;
    color: white;
}
input[type="submit"]:hover {
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
}


form .content {
    padding: 0 30px 25px 30px;
}
form .content .input {
    width: 240px;
    padding: 15px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

form .content .password, form .content .pass-icon {
    margin-top: 25px;
}

form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0px;
    padding-right: 2px;
    z-index: 3;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
    top:170px;
    background: rgba(65,72,72,0.75) url(../img/user-icon.png) no-repeat center;	
}

.pass-icon {
    top:245px;
    background: rgba(65,72,72,0.75) url(../img/pass-icon.png) no-repeat center;
}

.input, .user-icon, .pass-icon, .button, .register {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}


form .footer {
    padding: 25px 30px 40px 30px;
    overflow: auto;
    background: #d4dedf;
    border-top: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.img{
    float: left;
}
.mensaje{
     color: red;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-top: 0.8em;
    font-size: 14px;
}

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	/* Fallback */ 
	background-image: url(../img/gradient.png); 
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

