.CSSTableGenerator tr:nth-child(odd) {
	background-color: #b1b9c9;
}
.CSSTableGenerator tr:nth-child(even) {
	background-color: #ffffff;
}
.CSSTableGenerator td {

	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	color: #605555;
}

table {
	height: 274px;
}

